<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Refer Me Daddy</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">
                    <object type="image/svg+xml" data="/static/logo.svg"></object>
                </a>
            </div>
            <ul>
                <li><a href="#">Find Jobs</a></li>
                <li><a href="#">Browse Referrals</a></li>
                <li><a href="#">Sell Referral</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero-section">
            <h1>Get a job <strong>referral</strong> to your dream job</h1>
            <p>Jump the queue and get your resume actually read by hiring managers</p>
            <div class="hero-buttons">
                <a href="#" class="btn btn-primary">Get a referral</a>
                <a href="#" class="btn btn-secondary">Sell a referral</a>
            </div>
        </div>
    </main>
    

    <footer>
        <p>&copy; 2024 Refer me daddy</p>
    </footer>
    
</body>
</html>
